schema/player_injury.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="players">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="player">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:string" name="playerName"/>
              <xs:element type="xs:string" name="teamName"/>
              <xs:element type="xs:string" name="position"/>
              <xs:element type="xs:date" name="date"/>
              <xs:element type="xs:string" name="injuryNotes"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>