schema/player_dbpedia.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="players">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="player">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:date" name="birthDate"/>
              <xs:element type="xs:string" name="birthPlace"/>
              <xs:element type="xs:float" name="height"/>
              <xs:element type="xs:float" name="weight"/>
              <xs:element type="xs:date" name="startYear"/>
              <xs:element type="xs:date" name="endYear"/>
              <xs:element name="leagues">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="league">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="positions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="position">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="teams">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="team">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="awards">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="award">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>