schemas/player_salary.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="players">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="player">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:short" name="registerValue"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:int" name="salary"/>
              <xs:element type="xs:short" name="startYear"/>
              <xs:element type="xs:short" name="endYear"/>
              <xs:element type="xs:string" name="team"/>
              <xs:element type="xs:string" name="fullTeamName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>